
<div class="container">
  <div class="back-button"><%= link_to "Back", boat_path(@boat), :class => "btn btn-primary" %></div>
  <h1><center>Book your boat!<center></h1>
  <br>
  <p>You are booking <b><%= @boat.name %></b> in <%= @boat.location %> for $<%= @boat.price %> per day</p>
  <%= simple_form_for [ @boat, @booking ] do |f| %>
    <%= f.input :arrive, as: :date, html5: true %>
    <%= f.input :leave, as: :date, html5: true %>
    <%= f.submit "Book!"%>
  <% end %>
</div>
