<div class="boatbanner"><h1>Find the right boat!</h1></div>

  <div class="search-div">
    <div class="div-input">
    <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Where do you want to sail?"
      %></div>
      <div class="div-btn"><%= submit_tag "Search", class: "btn btn-default" %></div>
    <% end %>
  </div>

<div class="container">


  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-12">
        <div class="card-product">
          <%= link_to image_tag(boat.image), boat_path(boat) %>
          <div class="card-product-infos">
            <h2><%= link_to boat.name, boat_path(boat)%></h2>
            <p><%=boat.location%></p>
            <p>£<%=boat.price%> per day</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
