<div class="container">
  <h1>New Boat</h1>
  <%= simple_form_for(@boat) do |f| %>
    <%= f.input :name, placeholder: 'Your boat name' %>
    <%= f.input :price, placeholder: 'Price per day' %>
    <%= f.input :location, placeholder: 'Where is your boat?' %>
    <%= f.input :description, placeholder: 'Add some relevant details about your Boat. Try to include atractive information so people will be exited to rent it! ' %>
    <%= f.submit "Add new Boat", :class => "btn btn-primary"%>
  <% end %>
</div>
