<!-- app/views/layouts/application.html.erb -->
<head>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- [...] -->
</head>

<div class="container">
  <!-- <div class="row"> -->
  <h2><%= @boat.name %></h2>
  <div class="row">
    <div class="column">
      <%=image_tag("https://www.scanboat.com/images/boats/Motor-boatPrincess-F50-scanboat-picture-13457698.jpg")%>
    </div>
    <div class="column-2">
      <div class="zoom"><%=image_tag("https://www.scanboat.com/images/boats/Motor-boatPrincess-F50-scanboat-picture-13457698.jpg")%></div>
      <div class="zoom"><%=image_tag("https://www.scanboat.com/images/boats/Motor-boatPrincess-F50-scanboat-picture-13457698.jpg")%></div>
    </div>
    <div class="column-2">
      <div class="zoom"><%=image_tag("https://www.scanboat.com/images/boats/Motor-boatPrincess-F50-scanboat-picture-13457698.jpg")%></div>
      <div class="zoom"><%=image_tag("https://www.scanboat.com/images/boats/Motor-boatPrincess-F50-scanboat-picture-13457698.jpg")%></div>
    </div>
  </div>
  <p>Price per day: $<%= @boat.price %></p>
  <p>Location: <%= @boat.location %></p>
  <p>Description: </p>
    <li>Arch with integrated bimini and lighting</li>
    <li>Seakeeper Gyro Stabiliser</li>
    <li>9.5kW Onan generator</li>
    <li>Underwater lights</li>
    <li>Electric anchor winch with anchor & chain</li>

    <a class="btn btn-gradient" href="<%= new_boat_booking_url(@boat) %>">Book it</a>
    <!-- <li><%= link_to "Book it", new_boat_booking_url(@boat) %></li> -->
    <!-- <li><%= link_to "Back all boats", boats_url %></li> -->
  <!-- </div> -->
</div>

