<div class="container">
  <!-- <div class="row"> -->
    <h2><%= @boat.name %></h2>
    <img src="https://www.scanboat.com/images/boats/Motor-boatPrincess-F50-scanboat-picture-13457698.jpg" height: "200", width: "300", crop: :fill>
    <p>Price per day: <%= @boat.price %></p>
    <p>Location: <%= @boat.location %></p>
    <p>Description: </p>

    <li><%= link_to "Book it", new_boat_booking_url(@boat) %></li>
    <li><%= link_to "Back all boats", boats_url %></li>
  <!-- </div> -->
</div>
