<!-- app/views/layouts/application.html.erb -->
<head>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- [...] -->
</head>

<div class="container">
  <!-- <div class="row"> -->

<button class="btn" style="float:right">Login</button>

  <h2><%= @boat.name %></h2>

  <div class="row">
    <div class="column">
      <%=image_tag(@boat.image)%>
    </div>
    <div class="column-2">
      <div class="zoom"><%=image_tag("https://res.cloudinary.com/dv59x91lc/image/upload/v1590147719/Screenshot_2020-05-22_at_12.40.49_kn4e96.png")%></div>
      <div class="zoom"><%=image_tag("https://res.cloudinary.com/dv59x91lc/image/upload/v1590147721/Screenshot_2020-05-22_at_12.41.35_irsvhv.png")%></div>
    </div>
    <div class="column-2">
      <div class="zoom"><%=image_tag("https://res.cloudinary.com/dv59x91lc/image/upload/v1590147721/Screenshot_2020-05-22_at_12.41.02_l85yqh.png")%></div>
      <div class="zoom"><%=image_tag("https://res.cloudinary.com/dv59x91lc/image/upload/v1590147723/Screenshot_2020-05-22_at_12.41.22_gkgczm.png")%></div>
    </div>
  </div>

  <div class="row">
   <div class="column">
  <p>Price per day: <b>$<%= @boat.price %></b></p>
  <p>Location: <b><%= @boat.location %></b></p>
  <p>Description: </p>
    <li>Arch with integrated bimini and lighting</li>
    <li>Seakeeper Gyro Stabiliser</li>
    <li>9.5kW Onan generator</li>
    <li>Underwater lights</li>
    <li>Electric anchor winch with anchor & chain</li>

    <a class="btn btn-gradient" href="<%= new_boat_booking_url(@boat) %>">Book it</a>
    <!-- <li><%= link_to "Book it", new_boat_booking_url(@boat) %></li> -->
    <!-- <li><%= link_to "Back all boats", boats_url %></li> -->
      <%= link_to "Edit booking", edit_boat_booking_path([@boat, @booking]) %>

  <!-- </div> -->
  </div>
  <div class="column">
    <div id="map"
     style="width: 540px; height: 300px; margin: 10px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

