<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Boatz</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- Banner should be here -->
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
      <a class="navbar-brand" href="<%= boats_path %>">
        <img src="https://image.flaticon.com/icons/svg/2932/2932525.svg" />
      </a>
      <h1 class="navbar-title"><b>Boatz</b></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if current_user && current_user.boats != [] %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= my_boats_path %>">My boats</a>
            </li>
          <% end %>

          <li class="nav-item active">
            <a class="nav-link" href="<%= bookings_path %>">My bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png"/>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= new_user_session_path %>">Log in</a>
              <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete" >Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <p class="notice m-3 text-center font-weight-bold"><%= notice %></p>
    <p class="alert m-0"><%= alert %></p>

    <%= yield %>



    <%= javascript_pack_tag 'application' %>
  </body>
</html>

<!-- https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png -->
<!-- https://image.flaticon.com/icons/svg/2919/2919573.svg -->
